<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kotona</title>
    <meta name="viewport" content="width=entity-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
