[Unit]
Description=Kotona Commander Service
After=network.target

[Service]
WorkingDirectory=/home/pi/projects/kotona/commander
ExecStart=/home/pi/.nvm/versions/node/v11.12.0/bin/node ./src/api.js
User=pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
