<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kotona Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td id="app1"></td>
          <td>
            <div id="app2"></div>
            <div id="app3">
              <button class="button action-button" type="button" id="update">
                Päivitä
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="debug"></div>
  </body>
</html>
