{
  "lights/tradfri": {
    "coapClient": "/usr/local/bin/coap-client",
    "gatewayIp": "",
    "username": "",
    "key": ""
  },
  "weather/darksky": {
    "apiKey": "",
    "latitude": "",
    "longitude": ""
  },
  "weather/ruuvitag": {
    "devices": [
      { "addr": "", "name": "" }
    ]
  }
}
