{
  "lights/tradfri": {
    "coapClient": "/usr/local/bin/coap-client",
    "gatewayIp": "",
    "username": "",
    "key": ""
  },
  "weather/openweathermap": {
    "apiKey": "",
    "latitude": "",
    "longitude": "",
    "lang": ""
  },
  "weather/ruuvitag": {
    "devices": [
      { "addr": "MAC", "name": "" }
    ]
  },
  "security/camera": {
    "devices": [
      { "addr": "ip:port", "name": "" }
    ]
  }
}
