.box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  &.top {
    align-items: flex-start;
  }
}

.box-column {
  display: flex;
  flex-direction: column;
}
