$color-bg: #121517;
$color-darker: #262626;
$color-dark: #424b54;
$color-medium: #919eaa;
$color-dimmer: #bababa;
$color-light: #fff;
$color-accentLight: #b5cce2;
$color-accentDark: #69829b;
$color-text: $color-light;
$color-link: $color-accentLight;

$font-baseSize: 22px;
$font-baseFamily: "Oxygen", sans-serif;

$modal-bg: $color-bg;

$bodyPadding: 1em;

$box-border: 0.2em solid $color-dark;
$box-borderRadius: 1em;
